<Figaro xmlns="http://schemas.bdbxml.net/configuration/6.0/CDS">
    <DefaultContainerSettings allowCreate="true" compression="false" 
                              containerType="WholeDocContainer" threaded="true" statistics="On"/>    
    <Environments>
      <FigaroEnv name="demoEnv" threadCount="3">
        <!-- Caching requires InitMemoryBufferPool in the Open options. -->
        <Cache gigaBytes="1"/>
        <DataDirectories>
          <Directory create="true" path="demo\data"/>
        </DataDirectories>
        <EnvConfig>
          <ConfigItem setting="AllConcurrentDatabases" enabled="true"/>
        </EnvConfig>
        <!-- note: the 'anUnsecurePassword will throw an exception when you try to instantiate the XmlManager -->
        <!--<Encryption enabled="true" password="anUnsecurePassword"/>-->
        <Encryption enabled="true" password="asldfkjasldkgjs"/>
        <Tracing category="All" level="All" errorPrefix="err"/>
        <!-- You can add additional values to the options attribute, separated by spaces -->
        <Open create="true" home="demo\" options="InitMemoryBufferPool Create Thread ConcurrentDataStoreDefaults"/>
        
      </FigaroEnv>
    </Environments>
    <Managers>
      <XmlManager env="demoEnv" name="demoMgr" defaultContainerType="WholeDocContainer" options="AllOptions">
        <Containers>
          <Container name="demo" alias="demo" path="data\demo.dbxml"
                     allowCreate="true" allowValidation="false" checksum="false" compression="false"
                     containerType="NodeContainer" encrypted="false" exclusiveCreate="false"
                     indexNodes="On" multiVersion="false" noMMap="true" pageSize="1024"
            readOnly="false" sequenceIncrement="1" statistics="On" threaded="true"/>
        </Containers>
      </XmlManager>
    </Managers>
  </Figaro>
